Django==1.8.4
gunicorn==19.3.0
whitenoise==2.0.3
dj-database-url==0.3.0
#SQLAlchemy==1.0.4
djangorestframework==3.2.4
django-postgrespool==0.3.0
#djangorestframework-gis==0.9.4
django-rest-swagger==0.3.4