{% extends "base.html" %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb offer.business.name "business-detail" offer.business.id %}
  {% breadcrumb offer.name "offer-detail" offer.id %}
{% endblock %}
{% block title %}Delete {{ object }}{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
        <button type="submit" class="btn btn-primary">
            Delete
        </button>
</form>
{% endblock %}